//- views/user.pug

extends layout

block content
  br
  .w3-container
    .w3-card-4
      header
      
      <h2> User JWT </h2>
      
        code #{userProfile}

      <h2> User Id </h2>

        code #{userId}