//- views/user.pug

extends layout

block content
  br
  .w3-container
    .w3-card-4
     .w3-margin
     
      header
      
      <h4> User JWT </h4>
        
        code #{userProfile}

      <h4> User Id </h4>

        code #{userId}